    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ACERCA DE</h5>
                </div>
                <div class="col-lg-6">
                    <p>Ingeniero electrónico y desarrollador. Me interesan las tecnologías de la información y comunicación. Mi mayor actividad es el desarrollo, principalmente en Python. Tengo habilidades en desarrollo web y en otros lenguajes como Java y C. Soy curioso, autodidacta, me encanta compartir el conocimiento y no le temo a los retos.</p>
                </div>

                {% include cv.html %}
                
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #intro -->