<section id="about" name="about"></section>
<div id="intro">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-2 col-lg-offset-1">
                <h5>ABOUT ME</h5>
            </div>
            <div class="col-lg-6">
                <p> I'm an electronic engineer and a developer. I'm interested in all forms of information and communications technology, but my major focus is on development, mainly Python. I also have skills in other areas like web development and languages, like Java and C. I'm inquisitive, self taught, love to share what I learn, and unafraid of challenges.
                </p>
            </div>
            <div class="col-lg-3">
                <p><a href="assets/cv/{{ site.cv_esp }}"><i class="icon-print"></i></a> <sm><a href="assets/cv/{{ site.cv_esp }}">DESCARGAR CV</a></sm></p>
                <p><a href="assets/cv/{{ site.cv_ing }}"><i class="icon-print"></i></a> <sm><a href="assets/cv/{{ site.cv_ing }}">DOWNLOAD RESUME </a></sm></p>
            </div>
            
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/ #intro -->