<!-- CONFERENCIAS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <!-- CONFERENCIAS DESCRIPTION -->
                {% if page.lang == 'en' %}
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONFERENCES</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>(in) Security. Tranquility for us</t><br/>
                        Instituto Tecnologico de la Laguna <br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNE 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>(in) Security. Tranquility for us</t><br/>
                        Instituto Tecnologico de Estudios Superiores de Monterrey, Campus Laguna <br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>APRIL 2014</sm></p>
                </div> 
                {% endif %}

                <!-- CONFERENCIAS -->
                {% if page.lang == 'es' %}
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONFERENCIAS</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Seguridad Informática. Tranquilidad para Nosotros</t><br/>
                        Instituto Tecnológico de la Laguna <br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNIO 2014</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Seguridad Informática. Tranquilidad para Nosotros</t><br/>
                        Instituto Tecnológico de Estudios Superiores de Monterrey, Campus Laguna <br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>ABRIL 2014</sm></p>
                </div>                
                {% endif %}
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->