<!-- CONFERENCIAS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONFERENCES</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>(in) Security. Tranquility for us</t><br/>
                        Instituto Tecnologico de la Laguna <br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNE 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>(in) Security. Tranquility for us</t><br/>
                        Instituto Tecnologico de Estudios Superiores de Monterrey, Campus Laguna <br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>APRIL 2014</sm></p>
                </div> 

        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->