<!-- CONFERENCIAS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
            {% if page.lang == 'en' %}
                <h5>CONFERENCES</h5>
            {% endif %}
            {% if page.lang == 'es' %}
                <h5>CONFERENCIAS</h5>
            {% endif %}
            </div>                                   
            {% for post in site.posts %}
                {% if post.section == 'conferences' %}
                    {% if page.lang == 'en' %}
                        {% if post.br %}
                            <div class="col-lg-6">
                        {% else %}
                            <div class="col-lg-6 col-lg-offset-3">
                        {% endif %}
                        <p><t>{{ post.name }}</t><br/>
                            {{ post.place }}<br/>
                        </p>
                    </div>

                    <div class="col-lg-3">
                        <p><sm>{{ post.dates }}</sm></p>
                    </div>                        
                    {% endif %}

                    {% if page.lang == 'es' %}
                        {% if post.br %}
                            <div class="col-lg-6">
                        {% else %}
                            <div class="col-lg-6 col-lg-offset-3">
                        {% endif %}
                        <p><t>{{ post.nombre }}</t><br/>
                            {{ post.lugar }}<br/>
                        </p>
                    </div>

                    <div class="col-lg-3">
                        <p><sm>{{ post.fecha }}</sm></p>
                    </div>                        
                    {% endif %}
                {% endif %}               
            {% endfor %}
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->