<!-- CURSOS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>COURSES</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>Intro to Hacking</t><br/>
                        Foris Magna
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JANUARY 2014</sm></p>
                </div>

        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container --> 