
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
        <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>EDUCACIÓN</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Maestría en Ciencias en Ingeniería Eléctrica</t><br/>
                        Instituto Tecnológico de la Laguna <br/>
                        <i>Especialidad en Potencia</i>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JULIO 2012</sm></p>
                </div>
    
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Ingenieria Electrónica</t><br/>
                        Instituto Tecnológico de la Laguna <br/>
                        <i>Especialidad en Telecomunicaciones</i>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>NOVIEMBRE 2010</sm></p>
                </div>
    
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->