
<!--EDUCATION DESCRIPTION -->
<div class="container desc">
    <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>EDUCATION</h5>
            </div>
            <div class="col-lg-6">
                <p><t>Master of Science in Electrical Engineering</t><br/>
                    Instituto Tecnologico de la Laguna <br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>JULY 2012</sm></p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p><t>Electronics engineering</t><br/>
                    Instituto Tecnologico de la Laguna <br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>NOVEMBER 2010</sm></p>
            </div>

    </div><!--/.row -->
    <br>
    <hr>
</div><!--/.container -->