<section id="contact" name="contact"></section>
  <!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACTO</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Email</t><br/>
            {{ site.email }} <br/>
          </p>
          <p><t>Dirección</t><br/>
            {{ site.address }} <br/>
          </p>
          <p><t>Telefono</t><br/>
            {{ site.cel }}<br/>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm>REDES SOCIALES</sm></p>

          {% include socialnetworks.html%}
          
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->

  {% include implemented.html %}