    <!-- PONENCIAS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <!-- Papers DESCRIPTION -->
                {% if page.lang == 'en' %}
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>PAPERS</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>Análisis del Entorno de la Ingeniería Industrial y sus Retos en el 2020</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTOBER 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>El Modelo Nacional para La Competitividad en las PYMES de la Comarca Lagunera</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTOBER 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Sistema de Gestión en el Departamento de Ingeniería de Planta: Área de Jardinería Cato</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTOBER 2013</sm></p>
                </div>          

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Development of an application for the post-processing step of the Finite Element Method applied to electromagnetics using Java.</t><br/>
                        Vigesimaquinta Reunion Internacional de Verano de Potencia, Aplicaciones Industriales y Exposición Industrial
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JULY 2012</sm></p>
                </div> 
                {% endif %} 
                                            
                <!-- PONENCIAS DESCRIPTION -->
                {% if page.lang == 'es' %}
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>PONENCIAS</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>Análisis del Entorno de la Ingeniería Industrial y sus Retos en el 2020</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTUBRE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>El Modelo Nacional para La Competitividad en las PYMES de la Comarca Lagunera</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTUBRE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Sistema de Gestión en el Departamento de Ingeniería de Planta: Área de Jardinería Cato</t><br/>
                        VI Congreso de Posgrado e Investigación 2013. VI CPI-2013.
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTUBRE 2013</sm></p>
                </div>          

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Implementación de un Visualizador para el Post-procesamiento del Método de Elementos Finitos Utilizando Java</t><br/>
                        Vigesimaquinta Reunión Internacional de Verano de Potencia, Aplicaciones Industriales y Exposición Industrial
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JULIO 2012</sm></p>
                </div>  
                {% endif %}                             
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->

