    <section id="work" name="work"></section>
    <!--PORTFOLIO DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>PORTAFOLIO</h5>
                </div>
                <!-- El primero NO lleva offset! -->

                <!--Rango - Tango with Django -->
                <div class="col-lg-6">
                    <p><a href="http://deathscythe.pythonanywhere.com/rango/"><img class="img-responsive" src="/assets/img/port05.jpg" alt=""></a></p>
                </div>
                <div class="col-lg-3">
                    <p>RANGO - How To Tango With Django</p>
                    <p><more><br/>Un sitio web utilizando Django llamado <a href="http://deathscythe.pythonanywhere.com/rango/">"Rango"</a> y con hosting en <a href="http://pythonanywhere.com">Python Anywhere</a>.<br/>
                            <sm><i class="icon-tag"></i>Desarrollo Web</sm>, 
                            <sm><i class="icon-tag"></i>Python</sm>,
                            <sm><i class="icon-tag"></i>Django</sm>,
                            <sm><i class="icon-tag"></i>HTML</sm>,
                            <sm><i class="icon-tag"></i>CSS</sm>,
                            <sm><i class="icon-tag"></i>JavaScript</sm>.
                        </more> 
                    </p>
                </div>                  
                <!--DELLATORRE PLATA -->
                <div class="col-lg-6 col-lg-offset-3">
                    <p><a href="http://dellatorre-sterling.myshopify.com"><img class="img-responsive" src="/assets/img/port04.png" alt=""></a></p>
                </div>
                <div class="col-lg-3">
                    <p>DELLATORRE PLATA</p>
                    <p><more><br/>Una tienda en shopify para <a href="http://dellatorre-sterling.myshopify.com">Dellatorre Plata</a>.<br/>
                        <sm><i class="icon-tag"></i>Desarrollo Web</sm>,
                            <sm><i class="icon-tag"></i>HTML</sm>,
                            <sm><i class="icon-tag"></i>CSS</sm>,
                            <sm><i class="icon-tag"></i>Liquid</sm>,
                            <sm><i class="icon-tag"></i>JavaScript</sm>. 
                    </more> 
                    </p>
                </div>
                <!--GITHUB -->
                <div class="col-lg-6 col-lg-offset-3">
                    <p><a href="http://github.com/DeathscytheH"><img class="img-responsive" src="/assets/img/port02.jpg" alt=""></a></p>
                </div>
                <div class="col-lg-3">
                    <p>GITHUB</p>
                    <p><more><br/>Proyectos propios en la plataforma <a href="http://github.com/DeathscytheH">Github</a>.<br/>
                            <sm><i class="icon-tag"></i>Desarrollo</sm>
                            <sm><i class="icon-tag"></i>Python</sm>,
                            <sm><i class="icon-tag"></i>Django</sm>,
                            <sm><i class="icon-tag"></i>HTML</sm>,
                            <sm><i class="icon-tag"></i>CSS</sm>,
                            <sm><i class="icon-tag"></i>JavaScript</sm>.                                
                        </more> 
                    </p>
                </div>                
                <!--CODECADEMY -->
                <div class="col-lg-6 col-lg-offset-3">
                    <p><a href="http://www.codecademy.com/DeathScythe"><img class="img-responsive" src="/assets/img/port01.jpg" alt=""></a></p>
                </div>
                <div class="col-lg-3">
                    <p>CODECADEMY</p>
                <p><more>Proyectos desarrollados en la plataforma de <a href="http://www.codecademy.com/DeathScythe">Codecademy</a>.<br/><br/>
                        <sm><i class="icon-tag"></i>Desarrollo</sm>,
                        <sm><i class="icon-tag"></i>Python</sm>,
                        <sm><i class="icon-tag"></i>HTML</sm>,
                        <sm><i class="icon-tag"></i>CSS</sm>,
                        <sm><i class="icon-tag"></i>JavaScript</sm>,
                        <sm><i class="icon-tag"></i>PHP</sm>,
                        <sm><i class="icon-tag"></i>Ruby</sm>.                      
                    </more> 
                </p>
                </div>                                  
        </div><!--/.row -->
        <br>
        <br>
    </div><!--/.container -->