    <!-- CAPACITACIONES DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CAPACITACIONES</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Intro to Java Programming</t><br/>
                        Udacity<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>En Progreso</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Premio Regional a la Calidad</t><br/>
                        Canacintra, Gómez Palacio, Durango.<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>En Progreso</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming Using Python</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>ENERO 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNIO 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Circuits and Electronics</t><br/>
                        edX<br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNIO 2012</sm></p>
                </div>  

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Desarrollador de Software J2EE</t><br/>
                        NIIT<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNIO 2010</sm></p>
                </div>              
                                                                    
        </div><!--/.row -->
        <br>
    </div><!--/.container -->