    <!-- CAPACITACIONES DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>TRAINING</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Intro to Java Programming</t><br/>
                        Udacity<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>In Progress</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Quality regional prize</t><br/>
                        Canacintra, Gomez Palacio, Durango.<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>In Progress</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming Using Python</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JANUARY 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Circuits and Electronics</t><br/>
                        edX<br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNE 2012</sm></p>
                </div>  

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>J2EE Software Developer</t><br/>
                        NIIT<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNE 2010</sm></p>
                </div>              
                                                                    
        </div><!--/.row -->
        <br>
    </div><!--/.container -->