    <!-- CAPACITACIONES DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            {% if page.lang == 'en' %}
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>TRAINING</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Intro to Java Programming</t><br/>
                        Udacity<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>In Progress</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Quality regional prize</t><br/>
                        Canacintra, Gomez Palacio, Durango.<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>In Progress</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming Using Python</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JANUARY 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to IT Security</t><br/>
                        Foris Magna<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>DECEMBER 2013</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Circuits and Electronics</t><br/>
                        edX<br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNE 2012</sm></p>
                </div>  

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>J2EE Software Developer</t><br/>
                        NIIT<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNE 2010</sm></p>
                </div>            
            {% endif %}

            <!-- CAPACITACIONES DESCRIPTION -->
            {% if page.lang == 'es' %} 
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CAPACITACIONES</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Intro to Java Programming</t><br/>
                        Udacity<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>En Progreso</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Premio Regional a la Calidad</t><br/>
                        Canacintra, Gómez Palacio, Durango.<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>En Progreso</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming Using Python</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>ENERO 2014</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introducción a la Seguridad Informática</t><br/>
                        Foris Magna<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>DICIEMBRE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Introduction to Computer Science and Programming</t><br/>
                        edX<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNIO 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Circuits and Electronics</t><br/>
                        edX<br/>
                    </p>
                </div>

                <div class="col-lg-3">
                    <p><sm>JUNIO 2012</sm></p>
                </div>  

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Desarrollador de Software J2EE</t><br/>
                        NIIT<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>JUNIO 2010</sm></p>
                </div>              
            {% endif %}                                                 
        </div><!--/.row -->
        <br>
    </div><!--/.container -->