<!-- TALLERES DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>WORKSHOPS</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>Python: Simple is better than complex</t><br/>
                        Instituto Tecnologico de la Laguna
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTOBER 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Arduino: more than a toy</t><br/>
                        Instituto Tecnologico de la Laguna
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTOBER 2013</sm></p>
                </div>

        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->                