    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>EXPERIENCIA LABORAL</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Lider de Proyectos</t><br/>
                        Arkebit - Disruptive Ideas <br/>
                    </p>

                    <p><more><i>Logros : </i><br>
                        Implementación de un programa de trabajo colaborativo con Tecnologías de la Información utilizando Google Docs, Google Drive, Wunderlist, Dropbox y Github. El cual incremento nuestra productividad y redujo el traspapeleo de documentos, nuestros costos de impresión y nos permitio trabajar en proyectos de manera asincrona.</more></p>                   
                    <p><more><i>Funciones: </i><br>
                        Planificación y ejecución de proyectos, realizar reportes periódicos, verificación de entregables en proyectos internos y externos. Capacitación de empresas y particulares.</more></p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SEPTIEMBRE 2013 - ACTUAL</sm></p>
                </div>
    
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Profesor de Tiempo Completo Interino</t><br/>
                        Universidad Tecnológica de Torreón <br/>
                    </p>
                    <p><more><i>Logros: </i><br>
                        Fomentar el uso de MOOCs (Massive Open Online Courses) para actualización docente y apoyo a los alumnos. Con lo cual, nos permitio comparar habilidades de los docentes y alumnos con competidores internacionales y encontrar areas de oportunidad para la universidad.</more></p>                 
                    <p><more><i>Funciones: </i><br>
                        Impartir y preparar cátedras en base al modelo por competencias, dar tutorías, realizar evaluaciones y reportes periódicos de aprovechamiento. Llevar documentación reglamentaria en base a la certificación CIEES. Coordinador de materias.</more></p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SEPTIEMBRE 2012 - ABRIL 2013</sm></p>
                </div>
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->