<!-- TALLERES DESCRIPTION -->
    <div class="container desc">
        <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>TALLERES</h5>
                </div>
                <!-- El primero no tiene offset!-->
                <div class="col-lg-6">
                    <p><t>Introducción a Python: Simple es mejor que complejo</t><br/>
                        Instituto Tecnológico de la Laguna
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTUBRE 2013</sm></p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Arduino: más que un juguete</t><br/>
                        Instituto Tecnológico de la Laguna
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>OCTUBRE 2013</sm></p>
                </div>
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container --> 