    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>WORK</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Project Leader</t><br/>
                        Arkebit - Disruptive Ideas <br/>
                    </p>

                    <p><more><i>Achievements: </i><br>
                        I implemented a colaborative work program using Google Docs, Google Drive, Wunderlist, and Github. With that program, our productivite incremented, our printing cost were reduced, we stopped lossing papers, and we could do asynchronous work.</more>
                    </p>                    
                    <p><more><i>Responsabilities: </i><br>
                        Project planning and execution, periodic reports, report verification for internal and external projects. Personal and company training.</more>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SEPTEMBER 2013 - ACTUAL</sm></p>
                </div>
    
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Fulltime Professor</t><br/>
                        Universidad Tecnologica de Torreon <br/>
                    </p>
                    <p><more><i>Achievements </i><br>
                        Promote MOOCs (Massive Open Online Courses) for faculty and alumni. In order to challenge them and compare skills with international competitors.</more>
                    </p>                    
                    <p><more><i>Responsabilities: </i><br>
                        Prepare and give lectures based on competency-based education. Make periodic reports and assessments of the students. Prepare periodic documentation for the CIEES certification.</more>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SEPTEMBER 2012 - APRIL 2013</sm></p>
                </div>
        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->